@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p style="font-size: 20px; padding: 25px;">
    This web application is designed as an internal application for the BLC Network. As a user of this system you should have no expectation of Privacy as all connections to this system are insecure and could be monitored by the BLC network. Keep this in mind as you enter data
    and take care not to include any sensative information in your entries.
    <br /><br />
    Questions?
    <br />
    Contact: <a href="mailto:jordan.liebe@jmliebe.com">jordan.liebe@jmliebe.com</a>
</p>
