@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Configure Nginx</h1>
    <form method="post" asp-action="submit">
        <div>
            <label>Name</label><br />
            <input name="name" />
        </div>
        <div>
            <label>Live</label><br />
            <select name="live">
                <option>on</option>
                <option>off</option>
            </select>
        </div>
        <div>
            <label>Record</label><br />
            <select name="record">
                <option>on</option>
                <option>off</option>
            </select>
        </div>
        <div>
            <label>Push Locations (5)</label><br />
            <input name="push_urls[0]" /><br />
            <input name="push_urls[1]" /><br />
            <input name="push_urls[2]" /><br />
            <input name="push_urls[3]" /><br />
            <input name="push_urls[4]" /><br />
        </div>
        <div>
            <button>Submit</button>
        </div>
    </form>
</div>
